<h2>What's Futurospective?</h2>
<p>
  A simple app that lets you record a timecapsule - a message that will be available
  to you in the future.
</p>
<p>
  <a href="https://play.google.com/store/apps/details?id=com.futurospective&hl=en">
    <span class="fa fa-android fa-lg"></span>
    Android
  </a>
</p>
<p>
  <a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1272884913&mt=8">
    <span class="fa fa-apple fa-lg"></span>
    iOS
  </a>
</p>

<h2>How it works</h2>
<ol>
  <li>Download the app on your mobile.</li>
  <li>Record a timecapsule.</li>
  <li>Wait for it.</li>
  <li>Profit.</li>
</ol>

<h2>Why I did this</h2>
<p>
Ever wondered how sticky your current thoughts are? Well now you can find out
for yourself (uh uh).
</p>

<h2>Links</h2>
<p>
  <span class="fa fa-handshake-o fa-lg"></span>
  <a href="/policy">
  Policy
  </a>
</p>
<p>
  <span class="fa fa-bitbucket fa-lg"></span>
  Futurospective is 
  <a href="https://bitbucket.org/futurospective/futurospective-mobile">
  open source
  </a>
</p>
<p>
  <span class="fa fa-github fa-lg"></span>
  <a href="https://github.com/spittet/futurospective-mobile">
  Github mirror
  </a>
</p>
<hr />
<p class="footnote">Free Vector Graphics by <a href="https://www.vecteezy.com">Vecteezy.com</a></p>

