<h1>Futurospective policy</h1>

<p>This is going to be as simple as possible</p>

<h2>THE INFORMATION WE COLLECT</h2>
<p>
  You don't need to create an account with Futurospective. This may change in 
  the future but at this stage there is no personal information collected.
</p>
<p>
  In order to understand better how to improve the application we collect some 
  other information automatically when you use Futurospective. This includes 
  data about your device, software, operating system, your IP address.
</p>
<p>
  We also collect information about how you interact with the application.
</p>

<h2>HOW WE USE AND DISCLOSE YOUR INFORMATION</h2>

<p>
  We use the data we collect to improve the user experience.
</p>

<p>
  We don't disclose your information. Ever.
</p>


<h2>STORAGE</h2>

<p>
  Data is stored on your device and stays on your device only.
</p>

<h2>DATA DELETION</h2>
<p>
  You can simply delete the app from your mobile to delete the video stored on
  your device.
</p>

<h2>CHANGES TO THIS PRIVACY POLICY</h2>

<p>
  As Futurospective continues to develop, we may decide to revise this privacy 
  policy from time to time. The most current version will govern our use of your 
  information and will always be at <a href="https://futurospective.com/privacy">
  https://futurospective.com/privacy</a>, and older 
  versions are available upon request. If we make changes that we think will 
  substantially alter your rights, we will notify you by posting a notice on our 
  website. You agree to accept any changes or revisions to this privacy policy 
  by continuing to use Futurospective.
</p>

<h2>CONTACT</h2>
<p>
  We’d love to hear your questions, concerns and feedback about this privacy 
  policy. If you have suggestions for us, let us know at 
  support@futurospective.com.
</p>